.tabela {
background-color: #ffffff;
width: 50px;
border-radius: 10px;
justify-content: center;

}

.formulario {
  display: flex;
  flex-direction:column;
  background-color: rgba(185, 4, 4, 0);
  text-align: center;
  width: 500vw; 
  justify-content: center;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 2px rgba(17, 11, 11, 0.151);
  padding: 10px;

}
.fora {
  display: flex;
  justify-content: center;
  margin: 100px;

}
.topotab {
  background-color: rgba(0, 60, 255, 0.171);
  font-size: 100px;
}
.btndelete{
  background-color: transparent;
  border-color: transparent;
}
.btndelete:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.226);
  border-radius: 2px;
}
.enter {
  display:flex;
  flex-direction: column;
  background-color: rgba(226, 103, 3, 0);
  margin: 5px;
}
.input {
  display:flex;
  flex-direction: column;
  background-color: rgba(226, 103, 3, 0);
  margin: 5px;
}
.tab {
  display:flex;
  flex-direction: column;
  background-color: rgba(226, 103, 3, 0);
  margin: 5px;
}
